{% extends "main/layout.html" %}

{% load static %}

{% block content %}
{% if request.user.is_authenticated and not request.user.vote_set.all %}
<div class="cta">
    Choose your Oscar Predictions <a href="{% url 'main:user' request.user %}">here</a>!
</div>
{% endif %}

<section class="predictions">
    <div class="predictions-content">
        {% for u in users %}
        <div class="predictions-content-user">
            <a href="{% url 'main:user' u.username %}" class="predictions-content-user-name">{{ u.username }}</a>
            <div class="predictions-content-user-votings">
                {% for v in u.vote_set.all %}
                <div class="predictions-content-user-votings-item tooltip">
                    <span class="tooltip-text">{{ v.entry.category.name }}: {{ v.entry.name }}</span>
                    <img src="{{ v.entry.pic_url }}" alt="pic" class="predictions-content-user-votings-item-img">
                </div>
                {% empty %}
                <div class="predictions-content-user-votings-empty">
                    Has not voted yet!
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
