{% extends "main/layout.html" %}

{% load static %}

{% block content %}
<section class="settings">
    <form action="{% url 'main:preferences' %}" method="post" class="settings-password">
        <h2>Change password</h2>

        {{ form }}

        {% csrf_token %}
        <input type="submit" value="Change password">
    </form>
    <div class="settings-logout">
        <h2>Log out</h2>

        <a href="/logout">We don't really want you to log out, but if you must, then so be it.</a>
    </div>
</section>
{% endblock %}
