{% extends "main/layout.html" %}

{% load static %}

{% block content %}
<section class="user">
    <div class="user-content">
        <!-- <div class="user-content-results">
            <div class="user-content-results-circle">
                <br>
                Correct predictions
                <br><span>{{ user_wins }}</span>
            </div>
        </div> -->
        {% for category_name, entries in user_votes.items %}
        <div class="user-content-category">
            <div class="user-content-category-name">
                <!-- <div class="user-content-category-name-content">
                    {{ c.name }}
                    {% for e in c.entry_set.all %}
                        {% for v in e.vote_set.all %}
                            {% if v.user == user and v.entry == e and v.entry.is_winner %}
                            <img src="{% static 'images/oscar-trophy.svg' %}" alt="oscar trophy icon" height="32px" style="margin-left: 8px; transform: translateY(-8px);">
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div> -->
                <div class="user-content-category-name-content">
                    {{ category_name }}
                </div>
                <div class="user-content-category-name-loader">
                    <div class="loader"></div>
                </div>
                <div class="user-content-category-name-saved" data-category={{ c.id }}>
                    saved ✔️
                </div>
            </div>
            <div class="user-content-category-entries">
                {% for e in entries %}
                <div class="user-content-category-entries-item tooltip"
                    title="{{ e.name }}"
                    data-id="{{ e.id }}"
                    {% for v in e.vote_set.all %}
                        {% if v.user == user and v.entry == e %}
                        data-voted="voted"
                        {% endif %}
                    {% endfor %}
                >
                    <span class="tooltip-text">{{ e.name }}</span>
                    <img src="{{ e.pic_url }}" alt="pic" class="user-content-category-entries-item-img">
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block scripts %}
{% csrf_token %}
<script>
    var userAccount = "{{ request.user.username }}";
    var userPage = "{{ user.username }}";

    function getCsrf() {
        var inputElems = document.querySelectorAll('input');
        var csrfToken = '';
        var i = 0;
        for (i = 0; i < inputElems.length; i++) {
            if (inputElems[i].name === 'csrfmiddlewaretoken') {
                csrfToken = inputElems[i].value;
                break;
            }
        }
        return csrfToken;
    }

    function setupVotedItems() {
        var entries = document.querySelectorAll('.user-content-category-entries-item-img');
        var i = 0;
        for (i = 0; i < entries.length; i++) {
            if (entries[i].parentNode.dataset.voted === 'voted') {
                entries[i].classList.add('modifier-win');
            }
        }
    }

    setupVotedItems();

    function setupVotes() {
        var entries = document.querySelectorAll('.user-content-category-entries-item-img');
        var i = 0;
        for (i = 0; i < entries.length; i++) {
            entries[i].addEventListener('click', function (ev) {
                var entryElem = ev.target.parentNode;
                var entryId = entryElem.dataset.id;
                var url = document.location.pathname;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.setRequestHeader('X-CSRFToken', getCsrf());
                xhr.onreadystatechange = function () {
                    if (this.readyState === XMLHttpRequest.DONE) {
                        var categoryLoaderElem = entryElem.parentNode.parentNode.querySelector('.user-content-category-name-loader');
                        categoryLoaderElem.style.opacity = 1;
                        if (this.status === 200) {
                            // show saved div
                            var savedDiv = entryElem.parentNode.parentNode.querySelector('.user-content-category-name-saved');
                            savedDiv.style.opacity = 1;
                            setTimeout(function makeSavedDisappear() {
                                savedDiv.style.opacity = 0;
                            }, 750);

                            // add golden circle
                            var categoryItems = entryElem.parentNode.children;
                            var i = 0;
                            for (i = 0; i < categoryItems.length; i++) {
                                if (categoryItems[i] != entryElem) {
                                    categoryLoaderElem.style.opacity = 0;
                                    categoryItems[i].children[1].classList.remove('modifier-win');
                                } else {
                                    categoryItems[i].children[1].classList.add('modifier-win');
                                }
                            }
                        } else {
                            var response = JSON.parse(xhr.responseText);
                            if (response.error) {
                                window.alert(response.message);
                            }
                        }
                    }
                };
                var formData = new FormData();
                formData.append('entry', entryId);
                xhr.send(formData);
            });
        }
    }

    function makeVotingUnclickable() {
        var entryElems = document.querySelectorAll('.user-content-category-entries-item');
        var i = 0;
        for (i = 0; i < entryElems.length; i++) {
            entryElems[i].style.cursor = 'auto';
        }
    }

    if (userAccount === userPage) {
        setupVotes();
    } else {
        makeVotingUnclickable();
    }
</script>
{% endblock %}
